h1,h2,h3,h4,h5,p {
    color: #fff;
}
section {
    padding: 15px;
}
.form-text {
    border-radius: 10px;
    border-style: none;
    height: 40px;
    width: 275px;
    color: #333;
    padding: 5px;
    margin: 10px;
    font-size: 20px;
    transition: 0.3s;
}
.form-text {
    outline: none;
}
.btn {
    padding: 10px;
    margin: 20px;
    width: 280px;
    background-color: transparent;
    border: 2px solid #fff;
    border-radius: 10px;
    text-transform: uppercase;
    font-size: 20px;
    color: #fff;
    transition: 0.2s;
}
.btn:hover {
    background-color: #fff;
    color: #2f96ff;
}
.first {
    position: relative;
    background: url('../img/1-background.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #f1f1f1;
}
.second {
    background: url('../img/luxfon.com_4664.jpg');
    height: 500px;
    max-width: 100%;
}
#start {
    border: 3px solid #fff;
    border-radius: 10px;
    padding: 20px;
    width: 250px;
    margin: auto;
    text-transform: uppercase;
}
.subscribe{
    border: 2px solid #fff;
    border-radius: 15px;
    width: 350px;
    margin: auto;
    padding-top: 10px;
    background-color: #66b2ff;
    box-shadow: 0 0 25px;
}
.subscribe h3 {
    background-color: #2f96ff;
    border-top: 2px solid #fff;
    border-bottom: 2px solid #fff;
    padding: 15px;
}
/*.subscribe hr{
    border-top: 1px solid #fff;
    border-bottom: 1px solid #fff;
}*/